body {
    margin: 0;
    padding: 0; 
}

.description-section {
    background: linear-gradient(#d1d1d3, #fafafa);
    overflow: auto;
    width: 100%;
    position: relative;
}

.description-photo {
    overflow: auto;
}

.phones-photo {
    float: left;
    max-width: 45%;
}

.phones-photo img {
    max-width: 100%;
}

.page-description {
    max-width: 55%;
    float: right;
    padding-right: 3em;
}

.page-description h1 {
    margin-top: 5em;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

.page-description p {
    font-size: 1.5em;
    text-align: justify;
    
}

.slider {
    position: absolute;
    bottom: 0;
    padding: 0.7em 1.5em;
    background-color: hsla(187, 68%, 60%, 0.712);
    width: 100%;
    box-sizing: border-box;
}

.slider p {
    color: white;
    margin: 0;
    font-size: 1.2em;
}

.section-application {
    background-color: white;
    overflow: auto;
    padding: 1.5em 1.5em;
    width: 100%;
    box-sizing: border-box;
}

.section-application h2 {
    font-size: 1.7em;
}

.section-application p {
    font-size: 1.2em;
}

.application-container {
    display: flex;
    flex-direction: row;
}

.latest-tweets h2 {
    margin: 0;
}

.latest-tweets p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.application {
    max-width: 25%;    
    text-align: center;
}

.application img {
    max-width: 100%;
    max-height: 30em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.app-store img {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1.5em;
}

.section-feature {
    padding: 0 0.75em 1.5em 0.75em;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.feature {
    max-width: 31.4%;
    overflow: auto;   
    margin: 0.75em;
    border-bottom: 1px solid black;
}

.feature-header img {
    float: left;
    max-width: 3em;
}

.feature-header h3 {
    padding: 1em 3em;
    margin: 0;
}

.feature-description p {
    margin: 0;
    margin-bottom: 0.75em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  bottom: 0;
  padding: 0em 1.5em;
  background-color: hsla(187, 68%, 60%, 0.712);
  width: 100%;
  box-sizing: border-box;
}

.mySlides-fade {
  color: white;
  float: left;
  width: 70%;
  margin: 0;
  padding: 0.5em;
  font-size: 1.5em;
}
.slider {
  position: absolute;
  bottom: 0;
  padding: 0em 1.5em;
  background-color: hsla(187, 68%, 60%, 0.712);
  width: 100%;
  box-sizing: border-box;
}

.mySlides-fade {
  color: white;
  float: left;
  width: 70%;
  margin: 0;
  padding: 0.5em;
  font-size: 1.5em;
}

.Slide {
color: white;
float: right;
width: 30%;
margin: 0;
font-size: 1.2em;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: relative;
  width: auto;
  color: rgb(247, 243, 243);
  font-size: 2.5em;
  font-weight: 900;
  transition: 0.6s ease;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  position: relative;
  height: 0.5em;
  width: 0.5em;
  margin: 0.3em 2px;
  background-color: #fafafa;
  border-radius: 50%;
  display: inline-block;
  transition:  0.6s ease;
}

.active, .dot:hover {
  background-color: #bbb;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}














