body {
    margin: 0;
    padding: 0; 
}

header {
    padding: 1em 1.5em;
    overflow: auto;
    background-color: white;
}

.header-title {
    color:gray;
    max-width: 30%;
    float: left;
}

.header-title h1, h4 {
    margin: 0;
}

nav {
    margin-top: 0.3em;
    float: right;
    border-radius: 1em;
    background-color: rgb(58, 55, 55);
    padding: 0.8em 0em;

}

nav ul {
    padding: 0;;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li {
    display: inline;
    padding-left: 1.5em;
    padding-right: 1.5em;
    
}

nav ul li a {
    font-size: 0.75em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: left;
}

nav ul li a:hover {
    color: lightgray;
}

.description-section {
    background: linear-gradient(#d1d1d3, #fafafa);
    overflow: auto;
    width: 100%;
    position: relative;
}

.description-photo {
    overflow: auto;
}

.phones-photo {
    float: left;
    max-width: 45%;
}

.phones-photo img {
    max-width: 100%;
}

.page-description {
    max-width: 55%;
    float: right;
}

.page-description h1 {
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

.page-description p {
    font-size: 1em;
}

.slider {
    position: absolute;
    bottom: 0;
    padding: 0.7em;
    background-color: hsla(187, 68%, 60%, 0.712);
    width: 100%;
    box-sizing: border-box;
}

.slider p {
    color: white;
    margin: 0;
}








