body {
    margin: 0;
    padding: 0; 
}

header {
    padding: 1em 1.5em;
    overflow: auto;
    background-color: white;
}

.header-title {
    color:gray;
    max-width: 30%;
    float: left;
}

.header-title h1, h4 {
    margin: 0;
}

nav {
    margin-top: 0.3em;
    float: right;
    border-radius: 1em;
    background-color: rgb(58, 55, 55);
    padding: 0.8em 0em;

}

nav ul {
    padding: 0;;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li {
    display: inline;
    padding-left: 1.5em;
    padding-right: 1.5em;
    
}

nav ul li a {
    font-size: 0.75em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: left;
}

nav ul li a:hover {
    color: lightgray;
}

.description-section {
    background: linear-gradient(#d1d1d3, #fafafa);
    overflow: auto;
    width: 100%;
    position: relative;
}

.description-photo {
    overflow: auto;
}

.phones-photo {
    float: left;
    max-width: 45%;
}

.phones-photo img {
    max-width: 100%;
}

.page-description {
    max-width: 55%;
    float: right;
}

.page-description h1 {
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

.page-description p {
    font-size: 1em;
}

.slider {
    position: absolute;
    bottom: 0;
    padding: 0.7em 1.5em;
    background-color: hsla(187, 68%, 60%, 0.712);
    width: 100%;
    box-sizing: border-box;
}

.slider p {
    color: white;
    margin: 0;
    font-size: 1.2em;
}

.section-application {
    background-color: white;
    overflow: auto;
    padding: 1.5em 1.5em;
    width: 100%;
    box-sizing: border-box;
}

.section-application h2 {
    font-size: 1.7em;
}

.section-application p {
    font-size: 1.2em;
}

.application-container {
    display: flex;
    flex-direction: row;
}

.latest-tweets h2 {
    margin: 0;
}

.latest-tweets p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.application {
    max-width: 25%;    
    text-align: center;
}

.application img {
    max-width: 100%;
    max-height: 30em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.app-store img {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1.5em;
}

.section-feature {
    padding: 0 0.75em 1.5em 0.75em;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.feature {
    max-width: 31.4%;
    overflow: auto;   
    margin: 0.75em;
    border-bottom: 1px solid black;
}

.feature-header img {
    float: left;
    max-width: 3em;
}

.feature-header h3 {
    padding: 1em 3em;
    margin: 0;
}

.feature-description p {
    margin: 0;
    margin-bottom: 0.75em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  padding: 2em;
  border-top: 5px solid #505050;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.up {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-logo {
  width: 30%;
  font-size: 300%;
  color: rgb(68, 67, 67);
}
.contact-social {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.contact-info {
  padding-left: 2em;
  border-left: 2px solid #505050;
}
.sm-form {
  color: white;
  width: 50%;
  font-size: 2em;
}
p {
  color: white;
  margin: 0em;
  padding: 0em;
}
.contact-title1 {
  color: #505050;
}
.contact-title {
  color: #505050;
}
p.contact-title {
  padding-top: 1em;
}
.Copyright {
  
  margin-top: 15px;
  bottom: 1em;
  width: 100%;
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.PLeft {
  color: gray;
}
.PRight {
  color: gray;
}
a {
  position: relative;
  bottom: 0.25em;
  font-size: 0.5em;
  color: rgb(23, 186, 227);
  text-decoration: none;
}
.facebook {
  position: relative;
  left: 1em;
}
.twitter {
  position: relative;
  left: 3em;
}
.linkedin {
  position: relative;
  left: 1.5em;
}
.email {
  height: 2em;
  width: 70%;
  border: none;
  border-radius: 0.5em;
  background-color: rgb(58, 55, 55);
}
input[type="text"]::placeholder {
  padding-left: 1em;
}
label {
  font-size: small;
  margin-bottom: 0em;
  padding-bottom: 0em;
}
.submit {
  height: 2em;
  color: white;
  width: 20%;
  font-weight: bolder;
  border: none;
  border-radius: 0.5em;
  background-color: rgb(58, 55, 55);
}
form {
  padding-top: 1.5em;
}














